@font-face {
  font-family: "Lexend";
  src: url("./Lexend-Variable.ttf") format("truetype-variations");
  font-weight: 350;
}

:root {
  /* this has to be set to switch between light or dark */
  color-scheme: light dark;

  --light-bg: #E8DFCA;
  --light-article-bg: #F5EFF7;
  --light-text: black;
  --light-text-title: #333;

  --dark-bg: #000;
  --dark-article-bg: #696470;
  --dark-text: #111;
  --dark-text-title: ghostwhite;
}
.light {
  /* forces light color-scheme */
  color-scheme: light;
}
.dark {
  /* forces dark color-scheme */
  color-scheme: dark;
}

body {
  font-family: 'Lexend', 'Garamond', 'Helvetica';
  margin: 0;
  display: flex;
  background-color: light-dark(var(--light-bg), var(--dark-bg));
}

.aswin {
  font-family: 'Courier Prime';
  font-size: 1.2rem;
  text-align: center;
  color: light-dark(var(--light-text-title),var(--dark-text-title));
  position: absolute;
  margin-left: 0.65vw;
  margin-top: 1.5%;
  padding-bottom: 1rem;
}

.aswin:hover {
font-variation-settings: 'wdth' 60;
font-style: italic;
}
.main-content {
  flex: 1;
  padding: 0.5rem;
}

.article {
  margin-top: 5rem;
  margin-bottom: 2rem;
  background-color: light-dark(var(--light-article-bg), var(--dark-article-bg));
  border-radius: 0.3rem;
  padding: 1rem;
  border: 5px 5px 5px black;
}

.article-title {
  font-family: 'Helvetica';
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: -0.75rem;
  color: light-dark(var(--light-text),var(--dark-text));
}
.date {
  font-family: 'Arial', 'Open Sans';
  font-size: 0.9rem;
  font-weight: 70;
  line-height: 1rem;
  color: #333;
  margin-left: 0.12rem;
  box-shadow: 1px 1px black;
}


.article-content,
.article-list {
  font-size: 1rem;
  line-height: 1.5;
  color: light-dark(var(--light-text),var(--dark-text));
}

.top-right-button {
  background-color: inherit;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  .aswin {
    font-family: 'Courier Prime';
    font-size: 1.2rem;
    color: light-dark(var(--light-text-title),var(--dark-text-title));
    position: absolute;
    margin-left: 2.5vw;
    margin-top: 2.4%;
  }

  .top-right-button {
    top: 3rem;
  }
}




@media screen and (min-width: 1000px) {
  .article {
    margin-top: 2rem;
  }
  .aswin {
    margin-left: auto;
    margin-right: auto;
  }
}
