@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap");

.hidden {
    max-width: 180px;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    max-width: 180px;
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
    transform: translateX(0);
}

@keyframes timeanim {
    0% {
        filter: blur(4px);
    }

    50% {
        filter: blur(2px);
    }

    100% {
        filter: blur(0);
    }
}

.timeanim {
    animation: timeanim 2s linear forwards;
}

.griddy a:nth-child(1) {
    transition-delay: 800ms;
}

.griddy a:nth-child(2) {
    transition-delay: 600ms;
}

.griddy a:nth-child(3) {
    transition-delay: 400ms;
}

.griddy a:nth-child(4) {
    transition-delay: 200ms;
}

.container {
    background-color: #bcaaa48c;
}

body {
    margin: 40px 0;
    font-family: "Source Serif Pro", serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #bcaaa4;
    -webkit-font-smoothing: antialiased;
    justify-items: center;
}

body::-webkit-scrollbar {
    width: 0.9em;
}

body::-webkit-scrollbar-track {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #bea9a2;
    outline: 1px solid #ab9791;
}

div a:any-link {
    color: black;
    text-decoration: none;
}

div a:visited {
    color: black;
}

.griddy {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 50px;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
}

.griddy:hover {
    animation-play-state: paused;
}

@keyframes griddy {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.title,
h3 {
    font-family: "Source Serif Pro", serif;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: #5d4037;
}

h3 {
    font-size: 16px;
    color: #5d4037;
}

.card1,
.card2,
.card3,
.card4 {
    max-width: 180px;
    max-height: min-content;
    word-wrap: initial;
    box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2) inset;
    transition: 0.5s;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
    border-radius: 5%;
}
section {
    padding: 2px 16px;
}

div img {
    max-width: 180px;
    max-height: 265px;
    object-fit: cover;
}

.broker {
    border-top: 3px solid rgb(149, 97, 97);
    border-radius: 65%;
}

footer {
    display: table;
    text-align: center;
    margin: 0 auto;
}

footer a {
    color: darkred;
    text-decoration: dashed;
}

footer a:hover {
    text-decoration-color: black;
    text-decoration: dotted;
    text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 720px) {
    div a:visited {
        text-decoration: none;
        color: inherit;
    }

    /* .card img {
        max-width: 100%;
        height: auto;
    } */

    .card {
        border: 1px double dashed #fdf1ed7d;
        border-collapse: separate;
    }
    .griddy {
        grid-template-columns: auto;
        padding: 20px;
        justify-items: center;
        column-gap: 15px;
        row-gap: 15px;
    }

    img {
        width: 180px;
        height: 265px;
    }
}
