body {
  margin: 40px 0;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 500;
  background-color: #BCAAA4;
  -webkit-font-smoothing: antialiased;
  justify-items: center;
}

div a {
  text-decoration: none;
  text-decoration-color: black;
  color: black;
}

.griddy {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 50px;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
}

.title {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
}

h3 {
  font-family: 'Raleway';
  font-size: 16px;
  color: #5D4037;
  text-align: center;
  padding: 0;
} 

.card1 {
  /* Add shadows to create the "card" effect */
  max-width: fit-content;
  max-width: 180px;
  word-wrap: break-word;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
}

.card2 {
  /* Add shadows to create the "card" effect */
  max-height: fit-content;
  max-width: 180px;
  word-wrap: break-word;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card3 {
  /* Add shadows to create the "card" effect */
  max-width: fit-content;
  max-width: 180px;
  word-wrap: break-word;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.card4 {
  /* Add shadows to create the "card" effect */
  height: fit-content;
  max-width: 180px;
  word-wrap: break-word;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
}

/* On mouse-over, add a deeper shadow */
.card1:hover {
  box-shadow: 2px 2px 2px 10px rgba(127, 178, 185, 0.975);
  color: rgb(193, 226, 255);
}
.card2:hover {
  box-shadow: 2px 2px 2px 10px rgba(243, 130, 130, 0.826);
  color: rgb(193, 226, 255);
}
.card3:hover {
  box-shadow: 2px 2px 2px 10px rgba(164, 255, 216, 0.689);
  color: rgb(193, 226, 255);
}
.card4:hover {
  box-shadow: 2px 2px 2px 10px rgba(215, 218, 151, 0.89);
  color: rgb(193, 226, 255);
}

/* Add some padding inside the card container */
section {
  padding: 2px 16px;
}

div img {
  max-width: 180px;
  max-height: 265px;
  object-fit: cover;

}

div img:hover {
  max-width: 190px;
}

.broker {
  border-top: 3px solid rgb(149, 97, 97);
  border-radius: 65%;
}

footer {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

footer a {
  color: darkred;
  text-decoration: dashed;
}

footer a:hover {
  text-decoration-color: black;
  text-decoration: dotted;
  text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 720px) {

  .griddy {
    display: grid;
    grid-template-columns: auto;
    padding: 20px;
    align-items: center;
    justify-items: center;
    column-gap: 15px;
    row-gap: 15px;
  }

  img {
    width: 180;
    height: 265;
    object-fit: cover;
  }
  
}
