* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    display: flex;
    flex-direction: column;
}

@keyframes slideshow {
    0% {
        background-image: url("/media/24crop.jpg");
    }

    33% {
        background-image: url("/media/HERO_01.png");
    }

    66% {
        background-image: url("/media/IMG_1924.JPG");
    }

    100% {
        background-image: url("/media/IMG_1922.JPG");
    }
}

.hero {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    position: relative;
    transition: all 1s;
    background: linear-gradient( to bottom, #0000008d 10%, #9198e500);
    background-size: contain;
    background-repeat: no-repeat;
    /* animation: slideshow 15s forwards infinite;
    backdrop-filter: blur(20px); */
}

.hero-img {
    z-index: -1;
    resize: none;
    filter: contrast(80%) brightness(70%);
    overflow: hidden;
    image-rendering: optimizeQuality;
    image-orientation: from-image;
    object-fit: contain;
}

.hero-title {
    position: absolute;
    padding: 2rem;
    font-family: 'Playfair Display','Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 6vw;
    color: whitesmoke;
    margin-top: 30vh;
    transition: all 1s;
}


.hero-subtitle {
    position: absolute;
    font-family: 'Lexend Deca',Arial, Helvetica, sans-serif;
    font-weight: 350;
    color: whitesmoke;
    width: 75vw;
    height: 20vh;
    margin-top: 65vh;
    padding: 2.5rem;
    word-wrap: break-word;
    overflow: hidden;
}

.topnav {
    display: flex;
    position: absolute;
    padding: 1rem;
    color: azure;
    width: 100vw;
    height: fit-content;
    align-content: center;
    backdrop-filter: blur(1px);
    justify-content: center;
}

.topnav a {
    background: #fafff0e5;
    height: fit-content;
    width: fit-content;
    font-family: 'Times New Roman';
    font-size: large;
    text-decoration-line: none;
    padding: 1rem;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(2px);
    text-transform: uppercase;
    font-weight: 350;
    border-radius: 3px;
    /* box-shadow: inset 1px 1px 8px 2px rgb(54, 52, 52); */
    margin-right: 1rem;
    transition: all 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.topnav a:hover {
    box-shadow: inset 1px 1px 4px 2px black;
}
