@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@700&display=swap');


:root {
    --gray: #808080;
    --gray-medium: #c1bfbf;
    --gray-light: #d3d3d3;
    --paper-color: #eff8fe;
}

.title {
    font-family: 'Source Serif Pro', serif;
    font-size: 24px;
    font-weight: 700;
    color: #5D4037;
    text-align: center;
}

body {
    background: #fec0ca;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Courier New, sans-serif;
}

.container {
    padding: 50px;
}

h1 {
    font-size: 1.2rem;
}

.broker {
    border-top: 3px solid rgb(149, 97, 97);
    border-radius: 65%;
}


footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.paper {
    position: relative;
    padding: 10px;
    width: 12rem;
    min-height: 120px;
    background: linear-gradient(135deg,
            var(--paper-color),
            85%,
            var(--gray-light));
    box-shadow: 1px 0 1px var(--gray);
    text-align: center;
}

/* Tacks */
.paper::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--gray);
}

.paper::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--gray);
}

.numbers {
    display: flex;
    min-height: 11rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.number {
    position: relative;
    width: 100%;
    background: linear-gradient(to right,
            var(--paper-color),
            80%,
            var(--gray-light));
    border-top: 1px dashed var(--gray);
    box-shadow: 1px 1px 1px var(--gray);
    transform-origin: center top;
}

.link-wrapper {
    position: absolute;
    display: flex;
    top: 0;
    transform: rotate(90deg);
    transform-origin: top left;
    font-size: 0.9rem;
    margin-left: 1.7rem;
    margin-top: 1rem;
    align-items: center;
}

.link-wrapper i {
    margin-right: 5px;
    font-size: 1.1rem;
}

.link-wrapper a {
    text-decoration-style: dashed;
    font-family: sans-serif;
}

.number:nth-child(2) {
    transform: skew(-5deg, 0deg);
    background: var(--paper-color);
}

.number:nth-child(2)::after,
.number:nth-child(4)::after {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            var(--gray-light),
            5%,
            rgba(211, 211, 211, 0));
}

.number:nth-child(1),
.number:nth-child(3) {
    background: linear-gradient(to right,
            var(--paper-color),
            60%,
            var(--gray-light));
}

.number:nth-child(4) {
    transform: skew(-8deg, 0deg);
    background: var(--paper-color);
}

.number:nth-child(5) {
    transform: skew(-3deg, 0deg);
}

