:root {
  --background: #5d8028;
  --text: #8b4747;
  --text-secondary: #b3b3b3;
  --hover-bg: rgba(255, 255, 255, 0.1);
  --border: #282828;
  /* --c1: #fafafa;
  --c2: #7B6EC0;
  --c3: #f2faf2; */
  --c1: #000;
  --c2: #ffffff;
  --c3: #000;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: repeating-linear-gradient(45deg, var(--c1), var(--c2) 55%, var(--c3) 20%);
  background-size: 100% 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  /* background: var(--background); */
  color: var(--text);
  line-height: 1.5;
  margin: 0;
  /* padding: 20px; */
  transition: background 2s cubic-bezier(0.4, 0, 0.2, 1);
  height: 100%;
  width: 100%
}

.body {
	/* Fallback */
	background: hsl(0 0 0 / 50%);
	color: white;

	@supports (color: oklch(from red l c h)) {
		--l: clamp(0, (l / var(--l-threshold) - 1) * -infinity, 1);
		color: oklch(from var(--c1) var(--l) 0 h);
		background: none;
	}
}

.site-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--text);
  margin-left: 49%;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.8rem;
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.site-title:hover {
  font-weight: 1000;
  color: var(--menu-items-color);
  -webkit-backdrop-filter: drop-shadow(4px 4px 10px black);
  backdrop-filter: drop-shadow(4px 4px 10px black);
  background-color: #2e662a3a;
  border-radius: 1.6rem;
}

/* ---------- POSTS ---------- */

.griddy {
  display: grid;
  grid-template-areas: "a a a"
    "b b b";
  padding: 1rem;
  row-gap: 1rem;
  column-gap: 1.5rem;
}

.griddy a {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: calc(100% - 20px);
  text-decoration: none;
  color: var(--text);
  border: dashed #12150ec6;
  font-family: monospace;
  font-weight: 500;
  word-break: break-all;
  word-wrap: break-word;
  padding: 0.6rem;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-backdrop-filter: brightness(90%);
  backdrop-filter: brightness(90%);
}

.griddy a:hover {
  padding: 1rem;
  border: dashed #12150E;
}

.p-head {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.p-date {
  width: fit-content;
  height: fit-content;
}

.p-tags {
  height: fit-content;
  width: fit-content;
  align-self: flex-end;
  opacity: 0.8;
}

.p-break {
  position: relative;
  height: fit-content;
  width: inherit;
  border-radius: 1rem;
  mix-blend-mode: color-burn;
}

.griddy .p-meta {
  display: none;
}

.griddy a:hover>.p-meta {
  display: flex;
  justify-content: space-between;
}

.griddy a:hover>.p-meta>.p-tags {
  display: block;
}

.griddy a:hover>.p-meta>.p-date {
  display: block;
}

.griddy a:hover>.p-break {
  color: rebeccapurple;
}

@keyframes showup {
  0% {}
}

/* ---------- END POSTS ------ */
/* Handle orientation changes */
@media (max-width: 747px) {
  .site-title {
    margin-bottom: 10px;
  }

  body {
    background: repeating-linear-gradient(45deg, var(--c1), var(--c2) 55%, var(--c3) 20%);
    background-size: 100% 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: var(--text);
    line-height: 1.5;
    margin: 0;
    transition: background 2s cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
    width: 100%
  }

  .griddy {
    display: grid;
    grid-template-areas:
      "a"
      "b"
      "c";
    padding: 1rem;
    gap: 1.31rem;
  }

  .griddy a {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: calc(100% - 30px);
    text-decoration: none;
    color: var(--text);
    border: dashed #12150ec6;
    font-family: monospace;
    font-weight: 500;
    word-break: break-all;
    word-wrap: break-word;
    padding: 0.6rem;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-backdrop-filter: brightness(83%);
    backdrop-filter: brightness(83%);
  }
}